# Python UTF-8
*.py text eol=lf working-tree-encoding=UTF-8
*.sh text eol=lf
Dockerfile text eol=lf
*.dockerfile text eol=lf
docker/entrypoint.sh text eol=lf
web/package-lock.json linguist-generated=true
